body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map {
  height: 80vh;
  margin:auto;
  padding: 0;
  width: 50%;
}
.leaflet-container {
  background: #aad3df !important;
  z-index: 1000;
}

.tiles {
  height: 80vh;
  margin: 0;
  padding: 0;
  width: 50%;
}

.leaflet-control-layers-toggle {
  width: 50px !important;
  height: 50px !important;
}

.tiffy {
  background-repeat: no-repeat !important;
}


#line{
  margin: 0px;
  padding: 0px;
}

/* .leaflet-control-locate-location-arrow {
  background-color: #F4C430 !important;
} */

/* .leaflet-control-locate-leaflet-bar-leaflet-control-active-following {
  display: none !important;
} */

