body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map {
  height: 80vh;
  margin: auto;
  padding: 0;
  /* if fullscreen, do width 50% */
  width: 100%;
  border-bottom: 1px solid #696969;
  border-right: 1px solid #696969;
  border-left: 1px solid #696969;
} 

.mapMobile {
  height: 90vh;
  margin: auto;
  padding: 0;
  width: 90%;
  border-bottom: 1px solid #696969;
  border-right: 1px solid #696969;
  border-left: 1px solid #696969;
  border-top: 1px solid #696969;
}
@media screen and (max-width: 688px) and (min-width: 590px){
  .mapMobile {
    width: 75%;
  }
}
@media screen and (max-width: 767px) and (min-width: 689px){
  .mapMobile {
    width: 70%;
  }
}

/* .mapTablet {
  height: 75vh;
  margin: auto;
  padding: 0;
  width: 57%;
  border-bottom: 1px solid #696969;
  border-right: 1px solid #696969;
  border-left: 1px solid #696969;
  border-top: 1px solid #696969; */
  /* padding-top: 35px;
  padding-bottom: 35px; */
  /* transform: scale(1.3); */
/* } */

.leaflet-container {
  background: #aad3df !important;
  z-index: 998;
}

.tiles {
  height: 80vh;
  margin: 0;
  padding: 0;
  width: 50%;
}

.leaflet-control-layers-toggle {
  width: 50px !important;
  height: 50px !important;
}

.tiffy {
  background-repeat: no-repeat !important;
}


#line{
  margin: 0px;
  padding: 0px;
}

/* target the zoom control sizes */
.leaflet-control-zoom-in {
  width: 1px;
} span {
  font-size: 18px;
}

/* css for d3 plots */

/* kernal css */
#temp_pdf .pdf_curve {
  fill: #F3C42F;
  fill-opacity: 0.8;
  stroke: "none";
}
.pdf_curve_max {
    fill: #b13333;
    fill-opacity: 0.5;
    stroke: "none";
  }

.pdf_curve_min {
  fill: #284565;
  fill-opacity: 0.5;
  stroke: "none";
}

.todayColor{
    fill:#b22222
}

.todayColorX{
  fill:#b22222
}

.todayColorN{
  fill:#0B3360;
}

.nextTemp {
  fill: "none";
  stroke-width: 3;
  stroke: #b22222;
  }

.nextTempX {
fill: "none";
stroke-width: 3;
stroke: #b22222;
}

.nextTempN {
  fill: "none";
  stroke-width: 3;
  stroke: #0B3360;
  }

.ptileTemp {
    fill: "none";
    stroke-width: 1;
    stroke: #000;
    stroke-dasharray: 5,5
    }

.ptileTempX {
  fill: "none";
  stroke-width: 1;
  stroke: #b22222;
  stroke-dasharray: 5,5
  }

.ptileTempN {
  fill: "none";
  stroke-width: 1;
  stroke: #0B3360;
  stroke-dasharray: 5,5
  }

.ptileTextX {
  fill: #b22222;
  font-size: 0.8em;
}

.ptileTextN {
  fill:#0B3360;
  font-size: 0.8em;
}

.xaxis_title, .yaxis_title {
    fill: #000;
    font-size: 1.5em;
    font-weight: bold;
  }

/* line date */
.medianTmax {
    fill: none;
    stroke-width: 1;
    stroke: #b22222;
    stroke-dasharray: 3,3;
}


.medianTmin {
    stroke-width: 1;
    stroke: #0B3360;
    stroke-dasharray: 3,3
}

.boundsTmax{
    fill: #b22222;
    opacity: 0.5;
    stroke: 'none';
}

.boundsTmin{
    fill: #0B3360;
    opacity: 0.5;
    stroke: 'none';
}

.yearTmax{
    fill: "none";
    stroke: #b22222;
    stroke-width: 1.5;
}

.yearTmin{
    fill: "none";
    stroke: #0B3360;
    stroke-width: 1.5;
}

.nextTmin{
    fill:#0B3360;
}

.nextTmax{
  fill:#b22222;
}

/* popup text size */
.leaflet-popup-content {
  font-size: 18px !important;
}

.arrow {
  margin-left: 10px;
}


/* //sticky navbar */
/* .navbar {
  display: flex;
  justify-content: space-around;
  background: url("./media/IconYellow.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 999;
  height: 62px;
  width: 100%;
  background: rgba(14, 16, 18, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
} */
